<h1>New Patient Form</h1>

<%if @user && @user.errors.any?%>
    <ul>
        <%@user.errors.full_messages.each do |message|%>
            <li><%=message%></li>
        <%end%>
    </ul>
<%end%>

<form action="/patients" method="POST" id="patientform">
    <p>
        <label for="name">Patient Name:</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="birth_year">Birth Year:</label>
        <input type="text" name="birth_year" id="birth_year">
    </p>
    <p>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address">
    </p>
    <p>
        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone">
    </p>
    <p>
        <label for="healthcarenumber">Health Care Number:</label>
        <input type="text" name="healthcarenumber" id="healthcarenumber">
    </p>
    <input type="submit">
</form>
<br>
<a href="/patients">Back to patient list</a>
<br>
<a href="/logout">Logout</a>
