<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>East Side Medical Clinic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../css/style.css">
  </head>

  <body>
 
    <div>
        <h1>East Side Medical Clinic</h1>
        <%=yield%>
    </div>
  
    <section>
      <div>
        <h3>Contact</h3 >
        <p>
          email: <a href="mailto:support@eastsidemed.com">support@eastsidemed.com</a><br>
          phone: +1 403 818 8888
        </p>
        <h3>Correspondence</h3>
        <address>
          East Side Medical Clinic<br>
          P.O. Box 9999<br>
          Calgary, AB T3T 3R3
        </address>
      </div>
    </section>
<br>
    <footer>
      &copy; 2018 East Side Medical Clinic. All Rights Reserved.
    </footer>
  </body>
</html>